

* {
    font-family: 'Titillium Web', sans-serif;
}
#topnavbar {
    overflow: hidden;
    width: 100%; /* Full width */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 1000;
    background: white;
}

#boards {
    background-color: green;
}

body {
    background-size: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.79), rgba(255, 247, 247, 0.21)),
                        url("https://orig00.deviantart.net/39cf/f/2014/070/7/b/synolog_dsm_5_default_wallpaper_by_bobi1024-d79txr6.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
}

.main {
    width: 67%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.button-box {
        text-decoration: none;
    background: inherit;
}


 h1, h4 {
     color: /*#1b1f3b;*/ #688cc4;
 }

 .gu-transit {
     background-color: blue;
     box-shadow: 4px 4px 1px 1px;
 }

 .board {
     margin-bottom: 10px;
 }

 #footer {
     background: #f2f9ff;
}

 .board {
     opacity: 0.8;
 }

 .col, .board {
     opacity: 1;
 }

div[id$='column_1'] .card-body {
    background:#dde5f5;
}

div[id$='column_2'] .card-body {
    background:#ccd8f0;
}

div[id$='column_3'] .card-body {
    background:#bbcbeb;
}

div[id$='column_4'] .card-body {
    background:#aabee6;
}

.jumbotron {
    width: 75%;
    margin: 0 auto;
}

#footer {
    height: 20px;
    transition-duration: 0.3s;
    background: 0px;

}

#footer:hover {
    height: 130px;
    background: 0px;
    color: #05060B;


}
