#boards {
    background-color: green;
}

body {
    background: #efefef;
}
.main {
    width: 80%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
 h1, h4 {
     color: /*#1b1f3b;*/ #688cc4;
 }