<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>


        <!-- botstrap files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- googlefonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/templates.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>

    </head>
    <body>


                <!-- Image and text -->
            <nav id="topnavbar" class="navbar  justify-content-between" style="height: 60px">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="https://static.ezgif.com/images/bg-transparent.gif" width="60" height="60" alt=""
                             style="vertical-align: top; display: inline-block">
                        <h1 style="vertical-align: bottom; display: inline-block">ProMan</h1>
                    </a>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#create-board-modal" style="display: inline-block">
                         New Board
                    </button>

                </div>
            </nav>
    <div class="main">


        <!-- bootstrap accordion -->
        <div id="accordion" style="margin-top:80px">


        </div> <!-- end of accordion -->


        <!-- also navbar -->

        <nav id="footer" class="navbar navbar-light bg-light fixed-bottom justify-content-between" style="height: 60px">
            <div>WhiteBoard Entertainment</div>
          <img src="https://i.pinimg.com/originals/31/ed/0c/31ed0c65c81cb6b2741d65f7d49aeb55.png" width="185">
        </nav>




    </div>

    <div id="modals">
         <!-- Modal -->
        <div class="modal fade" id="create-board-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new board</h5>
              </div>
              <div class="modal-body">
                <div class="form-group">
                <label for="usr">Title:</label>
                    <input type="text" class="form-control" id="create-board-input">
                </div>
              </div>
              <div class="modal-footer" style="margin: 0 auto">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="create-board-button">Create board</button>
              </div>
            </div>
          </div>
        </div>
    </div>




    </body>
</html>
