<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <!-- botstrap files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- googlefonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
              <!-- Image and text -->
            <nav id="topnavbar" class="navbar  justify-content-between" style="height: 60px">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="https://static.ezgif.com/images/bg-transparent.gif" width="60" height="60" alt=""
                             style="vertical-align: top; display: inline-block">
                        <h1 style="vertical-align: bottom; display: inline-block">Pro-Man</h1>
                    </a>
                </div>
            </nav>
    <div class="main">

        <!-- also navbar -->

        <nav id="footer" class="navbar navbar-light bg-light fixed-bottom justify-content-between" style="height: 60px">
            <div id="footer">WhiteBoard Entertainment
            <br><br>Bakcsa Bálint, Gál Ágnes, Lisztes Alex, Vlasics Tibor</div>
        </nav>
    </div>

    <div class="jumbotron" style="width:60%; margin-bottom: 100px">
      <h1 class="display-3" align="center">Welcome to the WhiteBoard Entertainment world</h1><br>
      <p class="lead" align="justify">This is a our revolutionary platform to help you in the task management. It will be your favorite helper, if you would like to stay with us. An abstraction ladder needs to make routine management philosophy more effective. You need to reconfigure client-centric portals completely. The corrective co-operations must be synchronized in a professional manner. The more powerful the development of effective criteria.</p>
      <p class="lead"><br>

        <h1 align="center">Sign In</h1>

        <form action="/login" method="POST" align="center"><br>
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="name" id="name" required><br>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required><br>

            <label>
            <input type="checkbox" checked="checked" style="margin-bottom:15px"> Remember me
            </label><br/>
            <button type="submit">Enter</button>
        </form>

        <p align="center">If you have an account you can log in here, otherwise you can <a href="/registration">register</a>.</p>
    </div>


    </body>
</html>
